<div class="col-md-12">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Product Name : {{product.name}}</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6">
        <li><strong>Product Info : </strong>{{product.info}}</li>
        <br>
        <li><a href="./">Back</a></li>
      </ul>
    </div>
  </div>
</div>
