<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Cart App</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Products:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeProducts">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteProduct(thing)">&times;</button></a><a href="./single#/{{thing._id}}">Detail...</a>
          <button ng-click="addToCart(thing)" >Add To Cart</button>
        </li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new Product here." ng-model="newProduct">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addProduct()">Add New</button>
      </span>
    </p>
  </form>
</div>

