<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Cart ({{cart.length}})</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in cart">
        <li><span tooltip="{{thing.info}}">{{thing.name}}</span>
        <button type="button" class="close" ng-click="removeFromCart(thing)">&times;</button></li>
      </ul>
      <ul><button ng-show="cart.length" ng-click="checkout(cart)" >Checkout</button></ul>
    </div>
  </div>
